# === Archivos generales innecesarios ===
HELP.md
*.log
*.tmp
*.bak
*.swp
*.~ 
.DS_Store
Thumbs.db

# === Directorios de compilación de Maven ===
target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# === Archivos de respaldo de base de datos ===
*.sql
*.dump

# === Spring Tool Suite (STS) ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# === VS Code ===
.vscode/
